node_modules

# Test files
test.*

.idea/*

*.log
*.tgz
/documentation

/*.js

!/.eslintrc.js

dist

coverage
.nyc_output

cypress/videos/
cypress/screenshots/

temp/
.DS_Store

#yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions