node_modules

test

.idea/*

*.log
*.tgz
/documentation

/*.js

!/.eslintrc.js


coverage
.nyc_output

cypress/videos/
cypress/screenshots/

temp/
.DS_Store

#yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions